*{
  margin: 0;
  padding: 0;
}

body{
  background: url(../images/caramng14.jpg);
  background-attachment: contain;
  background-size: cover;
  background-repeat: no-repeat;
}



/*Formulario*/

.login-box, .contenedor-formulario{
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}
.signup-form{
  width: 65%;
  margin: 0 auto;
}
.signup-form{
  width: 65%;
  margin: 0 auto;
}
.contenedor-formulario .instagram {
  font-family: 'Oleo Script', cursive;
  font-size: 42px;
}
.signup-form h2{
  color:#a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-signup{
  background-color: #125688;
}
